body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
}

button {
    background: rgb(59, 66, 243);
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: rgb(118, 124, 247);
    font-weight: bold;
}